@page
@model MallMedia.Presentation.Pages.Admin.Content.IndexModel

@{
    ViewData["Title"] = "List content";
}
<head>
    <script type="module" defer src="~/js/devices.js"></script>  <!-- Import file JavaScript -->
</head>
<div class="container mt-5">
    <h2>Devices List</h2>
    <a class="btn btn-info" asp-page="/Admin/Device/Create">Create</a>
    <table class="table table-striped" id="devicesTable">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">DeviceName</th>
                <th scope="col">DeviceType</th>
                <th scope="col">NameLocation</th>
                <th scope="col">Size</th>
                <th scope="col">Resolution</th>
                <th scope="col">CreatedAt</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <!-- Data will be dynamically inserted here -->
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination" id="pagination">
        <!-- Pagination links will be dynamically inserted here -->
    </div>
</div>
