@page
@model MallMedia.Presentation.Pages.Admin.Schedule.IndexModel
<head>
    <script type="module" defer src="~/js/schedule.js"></script>  <!-- Import file JavaScript -->
</head>
<div class="container mt-5">
    <h2>Content List</h2>
    <a class="btn btn-info" asp-page="/Admin/Schedule/Create">Create</a>
    <table class="table table-striped" id="scheduleTable">
        <thead>
            <tr>
                <th>No.</th>
                <th>Name Device</th>
                <th>StartDate</th>
                <th>EndDate</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <!-- Data will be dynamically inserted here -->
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination" id="pagination">
        <!-- Pagination links will be dynamically inserted here -->
    </div>
</div>


