@page
@model MallMedia.Presentation.Pages.Admin.Content.IndexModel

@{
    ViewData["Title"] = "List content";
}
<head>
    <!-- Import file JavaScript -->
    <script type="module" defer src="~/js/content.js"></script>
</head>

<div class="container mt-5">
    <h2>Content List</h2>
    <a class="btn btn-info" asp-page="/Admin/Content/Create">Create</a>
    <table class="table table-striped" id="contentTable">
        <thead>
            <tr>
                <th>No.</th>
                <th style="width:300px">Title</th>
                <th style="width:300px">Description</th>
                <th>Category</th>
                <th>Status</th>
                <th>Created At</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <!-- Data will be dynamically inserted here -->
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="pagination" id="pagination">
        <!-- Pagination links will be dynamically inserted here -->
    </div>
</div>
